@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Maven+Pro:wght@400;600&family=Mukta:wght@300&family=Varela+Round&display=swap');

$primaryFont: 'Kanit', sans-serif;
$secondaryFont: 'Maven Pro', sans-serif;
$mainFont: 'Mukta', sans-serif;
$headerFont: 'Varela Round', sans-serif;