.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @include borderBGI(0px,#000000, to right, #3d3d3d, #040505);
    // @include linearGradient(to right, #3d3d3d, #040505);
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    height: 14rem;

    h5{
        margin-bottom: 12px;
        color: #fafafa;
    }
    .footer-groups{
        width: 90vw;
        display: flex;
        justify-content: space-around;

        .listAndTitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20vw;
        }        
        .nav-foot-item{
            font-size: 12px;
        }
        h6{
            color: #fafafa;
        }
        ul {
            margin-right: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            float: right;
            list-style: none;
            color: #fafafa;
    
            .redes {
                margin: 3px;
                i{
                color: #fafafa;
                text-shadow:0 0 20px #fafafa, 0 0 25px #7807df, 0 0 26px #7807df, 0 0 27px #7807df;
                }
            }        
    
        }  
        .direccion{
            width: 45vw;
            ul{
                width: 100%;
                padding: 0;
            }
        }  
    }
}






