
.formContainer {
    grid-area: formContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h5 {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .formItem {
        margin: 10px;

        label {
            display: inline-block;
            width: 15vw;
        }

        input[type=reset] {
            color: #FAFAFA;
            @include borderBG(2px, #3b3a3b, #383636);
            // background-color: #070506;
            // border: 1px solid #303030;
            padding: 2px;
            position: relative;
            float: right;
        }

        input[type=submit] {
            color: #FAFAFA;
            @include borderBG(2px, #48b9a1, #4ba578);
            // background-color: #48b9a1;
            // border: 1px solid #4ba578;
            padding: 2px;
        }

        input[type=button] {
            color: #FAFAFA;
            @include borderBG(2px, #3b3a3b, #383636);
            // background-color: #070506;
            // border: #303030;
            padding: 2px;
            position: relative;
            float: right;
        }
    }


    #itemLogin {
        width: 30vw;

        label {
            width: 20vw;
        }

    }

    .form-check-input{
        background-color: #f8f8f8;
        border-color: #6e6e6e;

        &:checked {
            background-color: #248f74;
            border-color: #185949;
        }
    }


}

th {
    border-bottom: 1px solid black;
    text-align: center;
}