
.formContainer {
    grid-area: formContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h5 {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .formItem {
        margin: 10px;

        label {
            display: inline-block;
            width: 15vw;
        }

        input[type=reset] {
            color: #7f23f7;
            border-radius: 0.375rem;
            @include borderBG(2px, #7f23f7, #38363600);
            // background-color: #070506;
            // border: 1px solid #303030;
            padding: 2px;
            position: relative;
            float: right;
            transition: all 200ms;

            &:hover{
                transition: all 200ms;
                color: #FAFAFA;
                @include borderBG(2px, #7f23f7, #7f23f7);
            }
        }

        input[type=email] {
            width: 105%;
        }

        textarea{
            margin: 0;  
            margin-top: 5px;
            margin-bottom: 20px;
            margin-left: -10px;
        }

        input[type=submit] {
            color: #4ba578;
            border-radius: 0.375rem;
            @include borderBG(2px, #4ba578, #38363600);
            // background-color: #48b9a1;
            // border: 1px solid #4ba578;
            padding: 2px;
            transition: all 200ms;

            &:hover{
                transition: all 200ms;
                color: #FAFAFA;
                @include borderBG(2px, #4ba578, #48b9a1);
            }
        }

        input[type=button] {
            color: #7f23f7;
            border-radius: 0.375rem;
            @include borderBG(2px, #7f23f7, #38363600);
            // background-color: #070506;
            // border: #303030;
            padding: 2px;
            position: relative;
            float: right;
            transition: all 200ms;

            &:hover{
                transition: all 200ms;
                color: #FAFAFA;
                @include borderBG(2px, #7f23f7, #7f23f7);
            }
        }
        
    }

    .formButtons{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .form-floating {
        width: 30vw;

        label {
            width: 20vw;
        }

    }
    .checkedTrue{
        display: none;
    }
    .form-check-input{
        background-color: #f8f8f8;
        border-color: #6e6e6e;

        &:checked {
            background-color: #248f74;
            border-color: #185949;

            ~ .checkedTrue{
                display: block;
            }
            ~ .checkedFalse{
                display: none;
            }
        }
    }


}

th {
    border-bottom: 1px solid black;
    text-align: center;
}