.navbar {
    @include borderBGI(0px,#000000, to right, #3d3d3d, #040505);
    // background-image: linear-gradient(to right, #3d3d3d, #040505);
    padding-bottom: 0;
    position: fixed;
    width: 100vw;
    z-index: 999;

    .userIcon {
        height: 2rem;
        margin: 0;
    }

    .logo {
        border-radius: 47%;
        height: 2.3rem;
    }

    .navbar-nav {
        li {
            width: auto;
            font-family: $headerFont;

            a {
                color: #fafafa;
                font-weight: 400;
                top: 4px;
                position: relative;

                &::before {
                    @extend %estiloHoverNav;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    z-index: 1;
                    transform: scaleX(0);
}
                &:hover::before {
                    transform: scaleX(1);
                }
            }

            .active {
                color: #fafafa;
                font-weight: 700;
            }
        }

        .dropdown {

            .dropdown-menu {
                @include borderBGI(0px,#8f8e8e75, to top, #3d3d3d, #040505);
                // @include linearGradient(to top, #3d3d3d, #040505);
                margin-bottom: 5px;
            }

            .userIcon {
                height: 3rem;
                margin: 0;
            }

            .user-conteiner {
                display: flex;
                align-items: center;
                justify-content: center;

                .fa-cart-shopping {
                    color: rgb(0, 0, 0);
                    // #040505;
                    margin-top: 2rem;
                    margin-left: -13px;
                }
            }

            .logOut {
                color: tomato;
            }

            .logOut:hover {
                color: red;
                cursor: pointer;
            }
        }

    }

    .d-flex {
        .btn-outline-success {
            border: 1px solid #7f23f7;
            color: rgb(184, 141, 204);
            --bs-btn-hover-bg: #7807df;
        }
    }

    .navbar-toggler {
        border: 1px solid #7f23f76e;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(126, 34, 247, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fa-circle-xmark {
        color: rgb(211, 35, 73);
    }
}

.modal-footer {
    display: flex;
    justify-content: space-evenly;
}