$carouselDisplay: flex;

.carouselHiden {
    @if ($carouselDisplay !=none) {
        display: none;
    }
}

.carousel {
    display: $carouselDisplay;
    width: 55vw;
    height: 28vw;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;


    img {
        position: relative;
        top: 0;
        width: 55vw;
        height: 28vw;
        overflow: hidden;
    }

    .carousel-control-next:hover {
        background-image: linear-gradient(to right, rgba(26, 24, 24, 0), rgba(26, 24, 24, 0.692));
    }

    .carousel-control-prev:hover {
        background-image: linear-gradient(to left, rgba(26, 24, 24, 0), rgba(26, 24, 24, 0.692));
    }
}

.modalCarrito {

    .tablaCarrito {
        margin-left: 5%;
        width: 90%;
        text-align: center;
    }

}


.mainContainer {
    border-radius: 15px;
    background-image: linear-gradient(110deg, #242323, #8d8787);
    width: 95vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    margin-top: 1rem;
    padding-bottom: 1rem;


    .lightTitle {
        text-align: center;
        color: rgb(228, 241, 232);
    }

    .productGroup {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: space-around;
        justify-items: center;


        .producto {
            font-family: $primaryFont;
            width: 90%;
            height: 90%;
            max-height: 35vw;
            margin: 3rem;
            border-radius: 20px;
            background-color: #181215;
            margin-top: 10px;
            overflow: hidden;
            justify-content: space-between;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                height: 85%;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                transition: all 300ms;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.25);
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    transition: all 300ms;
                }
            }

            p {
                text-align: center;
                color: #FAFAFA;
                overflow: hidden;
            }
        }

        .card-body {
            max-height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }
}