main {
    font-family: $mainFont;
    margin: 0;
    /* background color como backup para la imagen de fondo */
    background-color: rgb(228, 241, 232);
    background-image: url("https://res.cloudinary.com/dqloye1ik/image/upload/v1662171792/Byblos/muro-hormigon-blanco_53876-92803_ficwnl.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    min-height: 78.6vh;
    padding-top: 2rem;

    .breadcrumb {
        margin-top: 1.8rem;
        position: relative;
        margin-left: 8px;

        .breadcrumb-item {
            a {
                font-size: 15px;
                color: #6c757d;
                text-decoration: none;
            }
        }

        .active {
            font-size: 15px;
            font-weight: 600;
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;

        .main p {
            margin: 0.2rem;
            line-height: 16px;
        }
    }

    h1 {
        text-align: center;
        padding-top: 0.5rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-family: 'Kanit', sans-serif;
        font-size: 30px;
    }

    .carritoButton {
        display: flex;
        position: sticky;
        left: 95%;
        bottom: 3px;
        width: 70px;
        height: 70px;
        background-color: rgba(248, 248, 255, 0.664);
        border-radius: 50%;
        align-items: center;

        .fa-cart-shopping {
            cursor: pointer;
            color: #111212;
            font-size: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .fa-trash-alt {
        color: #f01810;
    }

    .loginExterno {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        button{
            border: 0px;
            color: #11121200;
            .googleLogin {
                height: 25px;
                width: 25px;
                color: #11121200;
            }
        }
    }
}