@media(max-width:480px) {

    main {
        .carousel {
            width: 90vw;
            height: 45vw;

            .active {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                height: 100%;
            }
        }

        .mainContainer {
            .productGroup {
                grid-template-columns: repeat(1, 100%);

                .producto {
                    margin: 20px;
                    margin-top: 10px;
                    height: 98%;
                    max-height: 98%;

                    img {
                        height: 80%;
                    }

                    p {
                        margin-bottom: auto;
                        position: absolute;
                    }

                    a {
                        position: relative;
                    }

                    .card-body {
                        align-items: center;
                    }
                }
            }
        }

        .formContainer {
            .formContacto {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .formItem {
                width: 90%;
                margin-left: 15px;

                label {
                    margin-left: 5px;
                    width: 90%;
                }


                input[type=email] {
                    width: 100%;
                }

                textarea {
                    width: 112%;
                    padding: 0;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    margin-left: -14px;
                }

            }

            .form-check {
                margin-left: 1rem;
                padding-left: 10px;
            }

            .form-control-plaintext {
                height: calc(5.5rem + 2px);
            }

            .newsletter {
                display: flex;
                align-items: center;
            }

            .form-select {
                height: 8vw;
            }

            .form-floating {
                input {
                    padding-bottom: 0;
                    height: 3.3rem;
                }
            }
        }

    }


    .tableCatalog table {
        width: 100vw;

        tr th,
        td {
            padding: 0;
        }
    }

    .location {
        margin-left: 3vw;
    }

    .mainContainerTable table .creditCard img {
        width: 10vw;
    }

    .footer {
        height: 21rem;

        .footer-groups {
            flex-direction: column;
            align-items: center;

            .listAndTitle {
                width: 100%;

                .redes-list {
                    flex-direction: row;
                }
            }

            .direccion ul {
                margin-right: 0;
            }

        }
    }


}